*
{
	padding: 0;
	margin: 0; 
	box-sizing: border-box; 
}
body{
	 
	 
	 font-family: sans-serif;
}
.menu{

	background: #2bab0d;
	text-align: right;
}    
.menu ul{

	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu ul li{
	width: 100px;
	margin: 2px;
	padding: 5px;
	text-align: center;
}
.menu ul li a{
	
	text-decoration: none;
	color: #fff;
}
.menu  ul li:hover{
	background: rgb(76,175,80);
	border-radius: 3px;
}
.menu .fa{
	margin-right: 10px;
}


