body{
	color: #333;
}

.product-tabs{
	position: relative;

}
.nav-tabs{
	color: black;
	margin-left: 25px;
	border-bottom: 3px solid #ddd;

}
.nav-tabs > li{
	float: none;
	display: inline-block;
}

.tab-pane{
	padding: 8px;
	margin-top: 20px;
}
.tab-control .previous-button, .tab-control .next-button{
position: absolute;
top: 1%;
color: black;
}
.tab-control .previous-button{
	left: -1%;
}
.tab-control .next-button{
	right: -1%;
}